<div> 
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
        <mat-form-field>
          <mat-label>NIT</mat-label>
          <input matInput formControlName="nit" required>
          <mat-error *ngIf="loginForm.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field>
          <mat-label>Codigo de cajero</mat-label>
          <input matInput formControlName="cajero" type="password" required>
          <mat-error *ngIf="loginForm.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>
        </div>
        
        <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
      </form>
</div>