
<form [formGroup]="farmaciaForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Nombre de la empresa</mat-label>
        <input matInput formControlName="nombre" type="text" required>
        <mat-error *ngIf="farmaciaForm.get('nombre').hasError('required')">
          El nombre de la empresa es requerido
        </mat-error>
    </mat-form-field>
    <div>
        <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="tel" type="text" required disable>
            <mat-error *ngIf="farmaciaForm.get('tel').hasError('required')">
              El teléfono de la empresa es requerido
            </mat-error>
        </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <mat-label>NIT de la empresa</mat-label>
      <input matInput formControlName="nit" type="text" required>
      <mat-error *ngIf="farmaciaForm.get('nit').hasError('required')">
        El NIT es requerido
      </mat-error>
      <mat-error *ngIf="farmaciaForm.get('nit').hasError('minlength')">
        El NIT debe tener al más 9 caracteres
      </mat-error>
      <mat-error *ngIf="farmaciaForm.get('nit').hasError('maxlength')">
        El NIT no debe tener menos de 9 caracteres
      </mat-error>
    </mat-form-field>
    </div>
    
    <div>
        <mat-form-field>
            <mat-label>Cajero</mat-label>
            <input matInput formControlName="cajero" type="text" required>
            <mat-error *ngIf="farmaciaForm.get('cajero').hasError('required')">
              El cajero es requerido
            </mat-error>
        </mat-form-field>
        </div>
    <div> 
    <button mat-raised-button color="primary" type="submit">Registrar datos</button>
    </div>    
</form>